.card_container {
    background: linear-gradient(#b9ecef, #f4f1f6, #fffefedb);
    border: 1.5rem solid white;
    color: var(font-color);
    border-radius: 10px;
    padding: 2rem;
    min-height: 736px;
}
.speedometer_container{
    min-height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.speedometer_display{
    width: 380px;
    height: 230px;
}
.city_name {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 600;
    padding: 11px;
    border-bottom: 1px solid white;
    width: 100%;
}
hr {
    margin-bottom: 20px;
}
